{% extends 'base.html'%}
{% load static %}

{% block body %}
<body itemscope="" itemtype="http://schema.org/WebPage" class="templateCart notouch">
{% endblock body %}

{% block content %}
			<!-- Content -->
			<div id="content" class="clearfix">                
				<div id="breadcrumb" class="breadcrumb">
					<div itemprop="breadcrumb" class="container">
						<div class="row">
							<div class="col-md-24">
								<a href="{%url 'index'%}" class="homepage-link" title="Back to the frontpage">Home</a>
								<span>/</span>
								<span class="page-title">Your Shopping Cart</span>
							</div>
						</div>
					</div>
				</div>        
{% if messages %}
    {% for message in messages %}
    		<br><div class="col-md-21 login-alert">
					<div class="alert alert-danger">
						<button type="button" class="close btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="alert" data-original-title="Close">×</button>
						<div class="errors">
							<ul>
								<li>{{message}}</li>
							</ul>
						</div>
					</div>
				</div>
    {% endfor %}
{% endif %}
				<section class="content">
					<div class="container">
						<div class="row">
							<div id="page-header" class="col-md-24">
								<h1 id="page-title">Shopping Cart</h1>
							</div>
							<div id="col-main" class="col-md-24 cart-page content">
								<form action="http://demo.themeforshop.com/cart" method="post" id="cartform" class="clearfix">
									<div class="row table-cart">
										<div class="wrap-table">
											<table class="cart-items haft-border">
											<colgroup>
											<col class="checkout-image">
											<col class="checkout-info">
											<col class="checkout-price">
											<col class="checkout-quantity">
											<col class="checkout-totals">
											</colgroup>
											<thead>
											<tr class="top-labels">
												<th>
													Items
												</th>
												<th>
													Price
												</th>
												<th>
													Qty
												</th>
												<th>
													SubTotal
												</th>
												<th>
													&nbsp;
												</th>
											</tr>
											</thead>
											<tbody>
											{% for data in data %}
											<tr class="item donec-condime-fermentum">
												<td class="title text-left">
													<ul class="list-inline">
														<li class="image">
														<a href="{%url 'update_cart' data.id%}">
														<img src="{{data.cart_product.pro_img.url}}" style="height: 65px;width: 65px;" alt="Donec condime fermentum">
														</a>
														</li>
														<li class="link">
														<a href="{%url 'update_cart' data.id%}">
														<span class="title-5">{{data.cart_product.pro_name}}</span>
														</a>
														<br>
														<span class="variant_title">{{data.cart_product.metal}} / {{data.cart_product.brand}}</span>
														<br>
														</li>
													</ul>
												</td>
												<td class="title-1">
													{{data.cart_product.total}}
												</td>
												<td>
													<input disabled class="form-control input-1 replace" maxlength="5" size="3" id="updates_3947646083"  value="{{data.cart_quantity}}">
												</td>
												<td class="total title-1">
													<input type="text" class="total_amount" hidden value="{{data.total_amount}}">
													{{data.total_amount}}
												</td>
												<td class="action">
													<button type="button" onclick="window.location='{%url 'del_cart' data.id%}'">
														<i class="fa fa-times"></i>Remove
													</button>
												</td>
											</tr>
											{% endfor %}
											</tbody>
											<tfoot>
											<tr class="bottom-summary">
												<td>
													&nbsp;
												</td>
												<td>
													&nbsp;
												</td>
												<td class="update-quantities">
												</td>
												<td class="subtotal title-1">
													<span class="subtotal_cart"></span>
												</td>
												<td>
													&nbsp;
												</td>
											</tr>
											</tfoot>
											</table>
										</div>
									</div>
									<div class="clearfix">
										<div id="checkout-proceed" class="last1 text-right">
											<a class="btn" href="{%url 'checkout'%}" id="checkout" name="checkout">Proceed to Checkout</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>        
			</div>
{% endblock content %}