{% extends 'base.html'%}
{% load static %}

{% block body %}
<body itemscope="" itemtype="http://schema.org/WebPage" class="templateCustomersRegister notouch">
{% endblock body %}

{% block content %}
			<!-- Content -->
			<div id="content" class="clearfix">
				<div id="breadcrumb" class="breadcrumb">
					<div itemprop="breadcrumb" class="container">
						<div class="row">
							<div class="col-md-24">
								<a href="{%url 'index'%}" class="homepage-link" title="Back to the frontpage">Home</a>
								<span>/</span>
								<span class="page-title">Login</span>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container">
						<div class="row">
							<div id="page-header" class="col-md-24">
								<h1 id="page-title">Reset Password</h1>
							</div>
							<div id="col-main" class="col-md-24 register-page clearfix">
								<div class="row checkout-form">
									<div class="col-md-12 row-left">
										<!-- Customer Account Login -->
										<div id="customer-login">

											<form method="post" id="customer_login" accept-charset="UTF-8">
												{% csrf_token %}
                                {% for field in form %}
									{% for error in field.errors %}
										<div class="col-md-21 login-alert">
											<div class="alert alert-danger">
												<button type="button" class="close btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="alert" data-original-title="Close">×</button>
												<div class="errors">
													<ul>
														<li> {{ error }}</li>
													</ul>
												</div>
											</div>
										</div>

									{% endfor %}
								{% endfor %}
												<ul id="login-form" class="list-unstyled">
													<li class="clearfix"></li>
													<li id="login_password" class="col-md-21">
													<label class="control-label" for="id_email">Email <span class="req">*</span></label>
													<input type="email" value="" name="email" required id="id_email" class="form-control password">
													</li>


                                                    <li class="clearfix"></li>

													<li class="col-md-21 unpadding-top">
													<ul class="login-wrapper list-unstyled">
														<li>
														<button class="btn" type="submit">Submit</button>
														</li>

													</ul>
													</li>
												</ul>
											</form>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

{% endblock content %}